.automation-item-page {
    max-width: 1200px;
    color: white;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.automation-item-page__item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.automation-item-page__image {
    display: block;
    max-width: 500px;
}
@media screen and (max-width: 600px) {
    .automation-item-page__image {
        width: 100%;
    }
}

.automation-item-page__description {
    white-space: pre-line;
}

.automation-item-page__info-container {
    width: 500px;
}

.automation-item-page__item-title {

}