.footer {
    background: repeat url(../../images/background.png);
}
.footer__container {
    padding: 30px 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__columns {
    width: 300px;
}

.footer__title {
    text-align: center;
    margin: 0 0 15px;
    font-size: 17px;
    line-height: 26px;
    font-weight: bold;
    color: white;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__link {
    text-decoration: none;
    transition: opacity 0.5s;
}

.footer__link:hover {
    opacity: 0.5;
}

.footer__text {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: white;
}

.footer__number {
    font-size: 19px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 10px;
}

.footer__copyright-container {
    padding: 40px 0 15px;
}

.footer__copyright {
    margin: 0;
    text-align: center;
    color: #CEB9CD;;
}